{% extends "base.html" %}

{% load static %}
{% load tz %}
{% load scene_filters %}

{% block titleblock %}Scene: {{ scene.name }}{% endblock %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'scenes/scenes.css' %}">
{% endblock %}

{% block content %}
<a href={% url 'scenes:list' %} class="back-button">Back to list</a>
<h1>{{ scene.name }}</h1>
<h2>Scene details</h2>
<ul>
    <li>Start date: {{ scene.start_time|localtime }}</li>
    <li>
        End date: {{ scene.end_time|localtime|or_default:"still in progress" }}
    </li>
    <li>Location: {{ scene.location.key }}</li>
    <li>Participants:
        {% for participant in participants %}
            <a href={{ participant.web_get_detail_url }}>{{ participant.key }}</a>
        {% endfor %}
    </li>
</ul>
<p>
    <em>Setting:</em> {{ scene.description }}
</p>
<h2>Log</h2>
<p>
    {{ scene.log.content }}
</p>
{% endblock %}
