{% extends "base.html" %}

{% load static %}
{% load scene_tags %}
{% load tz %}

{% block titleblock %}All Scenes{% endblock %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'scenes/scenes.css' %}">
{% endblock %}

{% block content %}

{% for scene in all_scenes %}
<article class="scene-summary">
    <div class="scene-pose-count">
        {{ scene.logentry_set.count }} pose{{ scene.logentry_set.count|pluralize }}
    </div>
    <h1><a href={% get_scene_detail_url scene %}>{{ scene.name }}</a></h1>
    <div class="scene-times">
        <span class="scene-time">
            <span class="scene-attribute">Start time:</span> {{ scene.start_time|localtime }}
        </span>
        <span class="scene-time">
            <span class="scene-attribute">End time:</span>
            {{ scene.end_time|localtime|or_default:"still in progress" }}
        </span>
    </div>
    <div class="scene-participants">
        <span class="scene-attribute">Participants:</span> {% show_participants scene %}
    </div>
    <p>
        {% autoescape off %}
        <span class="scene-attribute">Setting:</span> {{ scene.description|convert_texttags|truncatewords:100 }}
        {% endautoescape %}
    </p>
</article>
{% endfor %}
{% endblock %}