{% extends "base.html" %}

{% load tz %}

{% block titleblock %}All Scenes{% endblock %}

{% block content %}
{% for scene in all_scenes %}
<article class="scene-summary">
    <h1>{{ scene.name }}</h1>
    <p>
        Start time: {{ scene.start_time|localtime }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        End time: {{ scene.end_time|localtime }}
    </p>
    <p>Participants: TODO</p>
    <p>Poses: TODO</p>
    <p>Setting: {{ scene.description|truncatewords:100 }}</p>
</article>
{% endfor %}
{% endblock %}