{% extends "base.html" %}

{% block titleblock %}
{{ view.page_title }}
{% endblock %}

{% block content %}

{% load addclass %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{ view.page_title }}</h1>
        <hr />
          <ul>
              {% if some_other_object %}
              does this even do anything
              {% else %}
              or does this error
              {% endif %}

              {% if guest_list %}
              <h1>THIS ARE MY GUEST</h1>
              {% else %}
              <h1>we have no guests mew...</h1>
<!--              {% for guest in guest_list %}-->
<!--              <li><a href="{{ guest.web_get_detail_url }}">{{ guest }}</a></li>-->
<!--              <li>{{ guest }}</li>-->
<!--              {% endfor %}-->
              {% endif %}
              <h1>THIS ARE MY ADMIN</h1>
              {% for admin in admin_list %}
<!--              <li><a href="{{ admin.web_get_detail_url }}">{{ admin }}</a></li>-->
<!--              <li>{{ admin }}</li>-->
              {% endfor %}

<!--              <h1>THIS ARE MY PLAYERS</h1>-->
<!--              {% for player in player_list %}-->
<!--              <li><a href="{{ player.web_get_detail_url }}">{{ player }}</a></li>-->
<!--              {% endfor %}-->

              <h1>{{ test }}</h1>

              <h1>old code</h1>
              {% for object in object_list %}
              <li><a href="{{ object.web_get_detail_url }}">{{ object }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
