{% load humanize %}
{% load boards_tags %}

<article class="summary-item">
    <div class="board-post-info">
        <div class="board-post-count">{{ board.posts.count }} post{{ board.posts.count|pluralize }}</div>
        <div class="board-last-post">
            <p>Last post</p>
            <p>{{ board.posts.last.created_at|naturaltime }}</p>
            <p>by Post Author</p>
        </div>
    </div>
    <div class="board-overview">
        <h1><a href="{% get_board_detail_url board %}">{{ board.name }}</a></h1>
        <p>{% autoescape off %}{{ board.description }}{% endautoescape %}</p>
    </div>
</article>