{% extends "base.html" %}

{% load static %}

{% block titleblock %}SCSMUSH Boards{% endblock %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'boards/boards.css' %}">
{% endblock %}

{% block content %}
{% for board in all_boards %}
<article class="board-summary">
    <div class="board-post-count">
        {{ board.posts.count }} post{{ board.posts.count|pluralize }}
    </div>
    <h1>{{ board.name }}</h1>
    <p>{% autoescape off %}{{ board.description }}{% endautoescape %}</p>
</article>
{% endfor %}
{% endblock %}