{% extends "base.html" %}

{% load static %}
{% load boards_tags %}

{% block titleblock %}SCSMUSH Board: {{ board.name }}{% endblock %}

{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="{% static 'boards/boards.css' %}">
{% endblock %}

{% block content %}
<div class="post-container">
  <div class="left-column">
    <h1 class="breadcrumbs">
      <a href="{% url 'boards:list' %}">{{ board.name }}</a>: {{ post.title }}
    </h1>
    {% render_post_nav post previous next %}
    {% render_post_detail post paragraphs %}
    {% render_post_nav post previous next %}
  </div>

  <section class="right-column">
    <h2>Posts in "{{ board.name }}"</h2>
    {% render_post_list sorted_posts post %}
  </section>
</div>
{% endblock %}
